@font-face {
    font-family: 'Times New Roman';
    src: url('https://cdn.jsdelivr.net/gh/lukaskronus/ghost-materials@main/ghost-fonts/times.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ezra SIL';
    src: url('https://cdn.jsdelivr.net/gh/lukaskronus/ghost-materials@main/ghost-fonts/ezra_sil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ezra SR SIL';
    src: url('https://cdn.jsdelivr.net/gh/lukaskronus/ghost-materials@main/ghost-fonts/ezrasr_sil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
